/** @format */

.logout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.logout__btn {
  cursor: pointer;
  padding: 10px 20px;
  background-color: rgb(8, 8, 85);
  color: #fff;
}
.user__name {
  color: rgb(184, 40, 184);
}
